doctype
html(lang="en", ng-app="aerApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- title= app.title
    link(rel="stylesheet", href="stylesheets/style.css")
  body
    block content
    h1= app.title
    p Welcome to #{app.name}

    block scripts
    script(src="javascripts/app/lib/angular-1.2.13/angular.js")
    script(src="javascripts/app/lib/angular-1.2.13/angular-route.js")
    script(src="javascripts/app/app.js")
    script(src="javascripts/app/routes.js")
    script(src="javascripts/app/controllers.js")
    script(src="javascripts/app/directives.js")
    script(src="javascripts/app/filters.js")
    script(src="javascripts/app/services.js")
