doctype
html(lang="en", ng-app="aerApp")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= app.title

    link(rel="stylesheet", href= assets.url("/assets/application.css"))

    <!--[if lt IE 9]>
    <script type="text/javascript" src="<%= assets.url('/assets/application-ie.js') %>"></script>
    <![endif]-->

  body
    block content
    div(ng-view)

    block scripts
    script(type="text/javascript", src= assets.url("/assets/application.js")).
    //- script(type="text/javascript").
    //-   window.language= i18n.language()
